<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>Upload video </title>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <ul class="nav nav-tabs">
            <li class="<%= path=='upload'?'active':'' %>"><a href="/admin/uploadPage">uploadVideo</a></li>
            <li class="<%= path=='user'?'active':'' %>"><a href="/admin/user">userManager</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">VB.Net</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">PHP</a></li>
        </ul> 
        <section class="container">
             <% if(path=="upload"){ %>
            <%- include('./uploadVideo.ejs') %>
        <% } else if(path=="user") { %>  
            <%- include('./userManager.ejs') %>
        <% } %>
        </section>

        <script>
            $(function (){
                $("[data-toggle='popover']").popover(); 
            });
        </script>
        </script>
    </body>
</html>
