            <form role="form"  class="bs-example bs-example-form" method="post" action="/admin/upload">
                <input type="hidden" class="form-control" id="name" name="video_name" placeholder="type video name">
                <div class="form-group">
                    <label for="name">Video Name</label>
                    <input type="text" class="form-control" id="name" name="title" placeholder="type video name">
                </div>
                <div class="form-group">
                    <label for="name">Video desprition</label>
                    <input type="text" class="form-control" id="name" name="video_introduce" placeholder="type video depristion">
                </div>
                <div class="form-group">
                    <label for="name">Video Source</label>
                    <input type="text" class="form-control" id="name" name="video_source" placeholder="type movie source">
                </div>
                <div class="form-group">
                    <label for="name">Other</label>
                    <input type="text" class="form-control" id="name" name="video_cover" placeholder="type other info">
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>

