            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> User Name</th>
                        <th> </th>
                        <th>Operation</th>
                    </tr>
                </thead>

                <tbody> 
                    <% userList.forEach(item=>{ %> 
                    <tr>
                        <td> <%= item.name %></td>
                        <td> </td>
                        <td> 
                            <button class="btn btn-primary">edit </button>
                            <button type="button" class="btn btn-warning" title="Freeze"  
                                data-container="body" data-toggle="popover" data-placement="right" 
                                data-content="Double click the btn to freeze the user">
                                lock
                            </button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            <table>
