<html>
    <head>
        <link href='/stylesheets/modal.css' rel="stylesheet" >
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <script src="/javascripts/httpConnection.js"></script>
        <script src="/javascripts/util.js"></script>
        <link href="/stylesheets/articleOther.css" rel="stylesheet" />
    </head>
    <%- include('./components/header.ejs') %>
    <body>

    </body>
</html>
