<html>
    <head>
        <link href='/stylesheets/modal.css' rel="stylesheet" >
    </head> 
        <body>
            <section class="l-center ">
                <div class="l-container row ">
                    <section class="col l3 offset-l4 card-padding card">
                        <input id="u_name" type="text"  placeholder="userName" class="col l12 m6"/>
                        <input id='u_pass' type="text" placeholder="userPassword" class="col l12 m6"/>
                        <button id="login-btn"  class="btn waves-effect waves-light waves-ripple  col l12 m12 center ">Login </button>
                        <button id="register-btn"  class="btn waves-effect waves-light waves-ripple  col l12 m12 center common-top">Sign up</button>
                    </section>
            </section> 

            <script>
document.getElementById('login-btn').onclick=function(){
    var postData = {
        name:$('#u_name').value,
        password:$('#u_pass').value,
    }
    ajax_post('http://localhost:3000/toLogin',postData,res=>{
            res.status==200&&getPage('home')||alert(res.msg);
            });
}
document.getElementById('register-btn').onclick=function(){
    getPage('register')
}
/*
 *for jq source how to build this 
 */
function $(tag){
    var name = tag.substring(1);
    if(tag.indexOf('#')>-1){
        return document.getElementById(name)
    }else if(tag.indexOf('.')>-1){
        return document.getElementsByClass(name);
    }else{
        return document.getElementsByName(tag);
    }
};

$.prototype.val = function(ele){
    return ele.value();
} 
            </script>
        </body>
</html>
