
<html>

    <head>
        <title><%= title %></title> 
        <link href='/stylesheets/modal.css' rel="stylesheet" >
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <script src="/javascripts/httpConnection.js"></script>
    </head>

    <body>
        <header class="header">
            <ul>
                <li class="left">Home</li>
                <li class="left">Video</li>
                <li class="left">Article</li>
                <li class="left">About</li>
                <li class="right">Login</li>
            </ul>    
        </header>

        <section class="container row"> 
            
            <section class="card col l3">

                 <figure>
                        <img src="/imgs/video.jpg"/>                     
                        <figcaption>
                                VideoName
                        </figcaption>
                        <ul>
                            <li> 奔跑吧 </li>
                            <li> 奔跑吧,兄弟 </li>

                        </ul>
                 </figure>
                
             </section>    
        
        </section>
        

        <script>
</script>
    </body>    
</html>
