<html>

    <head>
        <title>hello EJS</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
    </head>

    <body>
        <header class="header">
            <ul>
                <li class="left">Home</li>
                <li class="left">Video</li>
                <li class="left">Article</li>
                <li class="left">About</li>
                <li class="right">Login</li>
            </ul>    
        </header>
        <%- include('./auth.ejs') %>
        <script>


        </script>
    </body>    
</html>
