<html>

    <head>
        <title><%= title %></title> 
        <link href='/stylesheets/modal.css' rel="stylesheet" >
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <script src="/javascripts/httpConnection.js"></script>
        <script src="/javascripts/util.js"></script>
    </head>

    <body>
        <%- include('./components/header.ejs'); %>
        <% if(path=="login"){ %>
            <%- include('./auth.ejs') %>
        <% } else if(path=="register") { %>  
            <%- include('./register.ejs') %>
        <% } %>

        <script>
</script>
    </body>    
</html>
