<html>

    <head>
        <title><%= title %></title> 
        <link href='/stylesheets/modal.css' rel="stylesheet" >
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <script src="/javascripts/httpConnection.js"></script>
    </head>

    <body>
        <header class="header">
            <ul>
                <li class="left">Home</li>
                <li class="left">Video</li>
                <li class="left">Article</li>
                <li class="left">About</li>
                <li class="right">Login</li>
            </ul>    
        </header>
        <% if(path=="login"){ %>
            <%- include('./auth.ejs') %>
        <% } else if(path=="register") { %>  
            <%- include('./register.ejs') %>
        <% } %>

        <script>
</script>
    </body>    
</html>
