<section class="l-center ">
    <section class="l-container row"> 
        <section class="col l3 offset-l4 card-padding ">
            <form action="/toRegister" method="post" >
                <input id="userName" type = "text" name="user_name" placeholder="userName">
                <input id="password" type = "text" name="user_password" placeholder="password">
                <input id="r-password" type = "text" placeholder="repeatPassword">
                <button type ="submit" id="register-btn" class="btn center l12  m12 s12 col" >注册</button>
            </form>
        </section>
    </section> 
</section> 
<script>
</script>
